.header-wrapper {
  background: $black;
  border-bottom: 6px solid $color-2;
  overflow: hidden;

  .logo {
    max-width: 300px;
    padding: 5px 10px 0px 20px;
    @include breakpoint($tablet, true) {
      padding: 5px 0px;
    }
  }
}